body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:10px;
  top:0px;
  width:320px;
  height:110px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:47px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:120px;
  width:860px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:330px;
  top:0px;
  width:540px;
  height:110px;
  font-family:'David Regular', 'David';
  font-size:20px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:110px;
}
#u7 {
  position:absolute;
  left:2px;
  top:45px;
  width:536px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:90px;
  width:300px;
  height:30px;
  font-size:14px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:80px;
  top:300px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:400px;
  width:120px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:80px;
  top:500px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:80px;
  top:800px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:80px;
  top:600px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:80px;
  top:700px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:80px;
  top:200px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:256px;
  top:200px;
  width:614px;
  height:81px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:81px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:320px;
  top:341px;
  width:450px;
  height:1359px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:1359px;
}
#u28 {
  position:absolute;
  left:2px;
  top:128px;
  width:446px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:320px;
  top:1758px;
  width:29px;
  height:29px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:1847px;
  width:860px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u33 {
  position:absolute;
  left:10px;
  top:1857px;
  width:860px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:856px;
  word-wrap:break-word;
}
