body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:200px;
  top:0px;
  width:300px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:120px;
  width:1000px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:396px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:259px;
  top:496px;
  width:120px;
  height:30px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:259px;
  top:596px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:259px;
  top:800px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:259px;
  top:696px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:259px;
  top:296px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:500px;
  top:0px;
  width:800px;
  height:90px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:37px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:210px;
  top:90px;
  width:990px;
  height:1px;
  color:#1E1E1E;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:500px;
  top:210px;
  width:654px;
  height:90px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:650px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:500px;
  top:586px;
  width:670px;
  height:130px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:130px;
}
#u25 {
  position:absolute;
  left:2px;
  top:57px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:945px;
  width:1420px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:1403px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1420px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:955px;
  width:1410px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:1406px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:500px;
  top:300px;
  width:750px;
  height:220px;
  color:#333333;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:220px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:500px;
  top:530px;
  width:130px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:670px;
  top:530px;
  width:130px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
